*,
html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    height: 40px;
    width: 100%;
    background-color: #06283D;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.first-name {
    font-family: game;
    align-items: center;
    color: #F9F9F9;
    font-size: 50px; 
    margin-left: 20px;
}

.navigation {
    font-family: ngutang;
    color: #F9F9F9;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 30px;
    margin-right: 50px;
    
}

.navigation>li {
    padding: 20px;
    list-style: none;
}

.navigation>li>a {
    color: #F9F9F9;
    font-size: 20px;
    text-decoration: none;
}

.navigation>li>a:hover {
    color: #256D85;
    transition: all .3s ease-in-out;
}

nav ul li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: .3s;
    background-color: #256D85;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e5364;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    
.dropdown-content a {
    color: #FFFBF5;
    font-size:medium;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}
    
.dropdown-content a:hover {background-color:#47B5FF;}
    .dropdown:hover .dropdown-content {
    display: block;
}

.brand {
    display: flex;
    flex-direction: row;
}

@font-face{
    font-family: valorant;
    src: url(Valorant\ Font.ttf);
}

@font-face {
    font-family: bomat;
    src: url(Bodo\ Amat.ttf);
}

@font-face {
    font-family: ngutang;
    src: url(Ngutang\ Dong.ttf);
}

@font-face {
    font-family: slay;
    src: url(Slaytanic.ttf);
}

@font-face {
    font-family: game;
    src: url(Game\ Of\ Squids.ttf);
}

@font-face {
    font-family: dezire;
    src: url(Dezire\ Stacked.ttf);
}

.section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    
}

.isi .home .gambar {
    float: right;
    margin-top: 40px;
    margin-left: 20px;
}

.nama {
    margin-top: 200px;
    margin-bottom: 50px;
    float: right;
    margin-right: 150px;
    margin-left: 30px;
    font-family: bomat;
    color: #174b5d;
}

.nama .deskripsi {
    font-size: 20px;
    margin-bottom: 5px;
    text-decoration-line: underline;
    font-family: bomat;
    color: #174b5d;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 30px;
    color: #174b5d;
    width: 100%;
    line-height: 55px;
    float: inline-start;
}

.gambar_udinus1 {
    margin-top: 20px;
    margin-left: 30px;
}

.gambar_udinus2 {
    margin-top: 20px;
    margin-right: 30px;
}

.profil2 {
    padding: 100px;
    text-align: center;
}

.profil2_ {
    width: 700px;
    height: 520px;
    background-color: #F9F9F9;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #06283D;
}

.img {
    background-image: url(DSC_9984hsok.jpg);
    background-color: #47B5FF;
    background-size: cover;
    border-radius: 100px;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border: 2px solid #47B5FF;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 38px;
    color: #174b5d;
    width: 100%;
    line-height: 55px;
    float: inline-start;
}

.text {
    text-align: center;
    font-size: 19px;
    margin: 0;
    color: #256D85;
    font-family: ngutang;
}

.ptext {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 16px;
    width: 500px;
    height: auto;
    color: #174b5d;
    font-family: bomat;
}

.cv h4 {
    font-size: 20px;
}

.isi_cv {
    font-size: 15px;
}

.h4_galeri {
    font-family: 'comic sans ms';
    font-weight: 400;
    font-size: 20px;
    color: #174b5d;
    width: 100%;
    line-height: 55px;
    float: inline-start;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.judul_galeri {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.isi_galeri img {
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 15%;
    height: 500px;
    object-fit: cover;
    border: 1px solid #F9F9F9;
    box-shadow: 5px 6px 7px #256D85;
    border-radius: 20px;
    box-sizing: border-box;
}

.isi_galeri img:active {
    width: 20%;
    height: 20%;
    transition: all .5s ease-in-out;
}

footer {
    background-color: #06283D;
    height: auto;
    width: 100vw;
    font-family: bomat;
    padding-top: 45px;
    color: #F9F9F9;
}

.judul_kontak {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.judul_kontak h2 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    color: #F9F9F9;
}

.judul_kontak p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
}

.sosmed {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.sosmed li {
    margin: 0 10px;
}

.sosmed a {
    text-decoration: none;
    color: #47B5FF;
}

.sosmed li a img {
    width: 30px;
    height: 30px;
}

.sosmed li a img:hover {
    width: 40px;
    height: 40px;
    transition: all .3s ease-in-out;
    
}

.copyright {
    background: #06283D;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    font-family: "Open Sans";
}

.copyright p {
    font-size: 15px;
    word-spacing: 3px;
    text-transform: capitalize;
}

.copyright span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    font-family: "Open Sans";
}

